<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 border-bottom">
  <div class="container">
    <a class="navbar-brand" routerLink="/">App Name</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="cluster" (click)="isCollapsed = true">Cluster</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
